[Unit]
Description=Best Buy Toolbox
Documentation=https://github.com/kzaremski/bbytoolbox
After=network.target

[Service]
WorkingDirectory=/etc/bbytoolbox/
Environment=PORT=3000
Type=simple
User=node
ExecStart=/usr/bin/node /etc/bbytoolbox/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target