[Unit]
Description=Best Buy 164 Toolbox
Documentation=https://github.com/kzaremski/164-toolbox
After=network.target

[Service]
WorkingDirectory=/home/node/164-toolbox
Environment=PORT=3000
Type=simple
User=node
ExecStart=/usr/bin/node /home/node/164-toolbox/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target